
/* Global */
$mainColor: #03805E;
$secondColor:#B4264E;
$bgColor:#f7f7f7;
@font-face {
    font-family: hacen;
    src: url('../fonts/Hacen Tunisia Lt.ttf');
}
body{
	// height : 4000px;
	font-family: hacen;
   font-weight: normal; 
   font-style: normal; 
}
/*=============Start Our Framework ==============*/
.overlay{
	position : absolute;
	width : 100%;
	height : 100%;
	top : 0;
	left : 0;
	
}
// .scrolled{
// 	 background: rgba(53,53,53,.8) !important;
// }
.display-center{
	justify-content: center;
	align-items: center;
	display: flex;
}
section{
	padding: 80px 0px;
	.sec-title{
		font-size: 52px;
		margin-bottom: 35px;
	}
	.sec-desc{
		font-size: 18px;
		line-height: 1.55;
		color: #333;
		font-size: 400;
		margin-bottom: 45px;
		
	}
}
/*=============End Our Framework ==============*/

/*=============End Our Framework ==============*/
.navbar{
	background: rgba(53,53,53,.7);
	display: flex;
	align-items: center;
	.navbar-brand{
		img{
			width: 200px; 
		}
	}
	.navbar-toggler{
		border: 1px solid #FFF;
		margin: 8px 0px;
		.fa-bars{
			color: #FFF;
		}
	}
	.navbar-collapse{
		justify-content: flex-end;
		
	}
	.nav-item{
		margin: 5px 0px;
		margin-left: 5px;
		.nav-link{
			color: #0071BC;
			padding: 0 10px;
			font-weight: bold;
			transition: all .3s ease-in-out;
		}
		&.active,
		&:hover{
			.nav-link{
				color: #FFF;
			}
		}
		&:last-of-type{
			.nav-link{
				border: 0;
			}
		}
	}
	
	
}
@media(max-width : 992px){
	.navbar{
		.navbar-list{
			flex-direction: column;
			.navbar-nav{
				width: 100%;
				margin-bottom: 20px;
				.nav-item{
					text-align: center;
					.nav-link{
						border: 0;
						// border-bottom: 2px solid #f7f7f7;
					}
				}
			}

			.social{
				text-align: center;
			}
			
		}
	}
}
/*=============End Our Framework ==============*/

/*=============Start Header ==============*/
header{
	background: url("../img/header.jpg") no-repeat center;
	color: #FFF;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	position: relative;
	.overlay{
		background: rgba(0,0,0,.7);
	}
	.container{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.company-info{
			position: absolute;
			// right: 50%;
			.company-logo{
				margin: 20px auto;
				display: block;
				width: 250px;
			}
			.company-name{
				font-size: 4.5rem;
				font-weight: normal;
				position: relative;
				&::after{
					position: absolute;
					content: '';
					background: #0071BC;
					display: block;
					width: 300px;
					height: 3px;
					margin-top: -8px;
				}
			}
			.follow-us{
				background-color: rgba(85,86,88,.74);
				padding: 10px 25px;
				border-radius: 20px;
				font-size: 1.1rem;
				color: #fff;
				display: block;
				margin: 30px auto;
			}
			.company-slogan {
				margin: 30px 0px;
				li{
					font-size: 1.5rem;
					font-weight: 400;
				}
			}
		}
	}	
	.logo{
		width: 200px;
		height: 200px;
		margin-bottom: 30px;
	}
}




/*=============End Header==============*/


/*=============Start Services Section==============*/
.services{
	background: url("../img/servicesBG.png") no-repeat cover;
	.ser-row{		
		.service{
			display: flex;
			align-items: center;
			overflow: hidden;
			margin: 50px 0px;
			img{
				margin-left: 20px;
				width: 65px;
			}
			h3{
				color: #353c3e;
				font-weight: 400;
				font-size: 18px;
			}
			p{
				width: 80%;
			}
		}
	}
	
	
}
/*=============End Services Section==============*/

/*=============ÙStart Developing Process Section==============*/
.develop{
	.steps{
		position: relative;
	}
	.display-center{
		flex-direction: column;
	}
	hr{
		border: 2px solid #ccc;
		width: 85%;
		position: absolute;
		top: 2%;
		right: 7%;
	}
	.steps{
		.step-num,i{
			display: block;
			background: #ccc;
			border-radius: 50%;
			width: 46px;
			height: 46px;
			line-height: 46px;
		}
		
		i{
			background: #0071BC;
			color: #FFF;
		}
		.fa-chevron-left{
			display: block;
		}
		.fa-chevron-down{
			display: none;
		}
		h3{
			font-size: 1.5rem;
			margin: 10px 0px;
		}
		.week-desc{
			background: #CCC;
			padding: 10px;
			border-radius: 10px;
			min-height: 236px;
			p{
				width: 80%;
				margin: auto;
			}
		}

	}
	
}

// Media Queries in Develop Section
@media(max-width: 992px){
	.develop{
		hr{
			display: none;
		}
		.vl{
			border: 2px solid #ccc;
			height: 100%;
			position: absolute;
			left: 50%;
			margin-left: -1px;
			top: 0;
		}
		.steps{
			h3{
			background: #fff;
			margin: 10px;
			padding: 10px 0px;
			}
			.week-desc{
				width: 50%;
				
				min-height: 150px;
				margin: 20px;
			}
			.begin{
				margin-bottom: 56px;
			}
			.fa-chevron-left{
				display: none;
			}
			.fa-chevron-down{
				display: block;
			}
			i{
				position: absolute;
				left: 50%;
				margin-left: -23px;
				
			}
		}
		
	}	
}
/*=============End Developing Process Section==============*/

/*=============Start Our Clients Section==============*/
.clients{
	background: rgba(0, 113, 188,.2);
	color: #0071BC;
	.black{
		color:#000;
	}
	.sec-desc{
		color: #0071BC;
		margin-bottom: 55px;
	}
	.owl-carousel{
		overflow: hidden;
		.owl-item img {
			display: inline-block;
			max-width: 260px;
		}
		.owl-nav{
			position: absolute;
			top: 50%;
			margin-top: -20px;
			width: 95%;
		}
		.owl-nav [class*=owl-] {
			color: #FFF;
			font-size: 30px;
			margin: 5px;
			padding: 4px 7px;
			background: none;
			display: inline-block;
			cursor: pointer;
			position: relative;	
		}
		.owl-next{			
			right: 47%;
		}
		.owl-prev{
			left: 44%;
		}
	}
}
/*=============End Our Clients Section==============*/

/*============= Start Contact Section==============*/
.contact{
	background: #1C1C1C;
	color: $bgColor;
	.sec-desc{
		color: $bgColor;
	}
	form{
		width: 80%;
		margin: auto;
		.textarea-container{
			justify-content: flex-end;
    		display: flex;
		}
		input,
		textarea,
		select,
		select option{
			display: block;
			width: 100%;
			margin : 10px 0px;
			padding: 8px 15px;
			border: 1px solid #f3f3f3;
			border-radius: 5px;
			background: transparent;
			color: #757575;
			
		}
		textarea{
			height: 195px;
		}
		.form-submit{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			.btn{
				background: #0071BC;
				color: #FFF;
				height: 40px;
				margin-right: 15px;			
			}
			.social{
				margin: 0 10px;
				.social-item{
					display: inline-block;
					margin: 0px 5px;
					.fa{
						color: #f7f7f7;
						border: 2px solid #f7f7f7;
						width: 35px;
						height: 35px;
						border-radius: 50%;
						text-align: center;
						line-height: 30px;
					}
				}
			}
		}
		
	}
}

/*=============End Contact Section==============*/

/*=============Start Footer==============*/
footer{
	background: #f7f7f7;
	color: #3C4648;
	padding: 80px 0px;
	a{
		justify-content: center;
    	display: flex;
	}
	.col1, .col2{
		width: 200px;
		height: 200px;
		
	}
	.col1{
		background: url("../img/Procube_logo.png") no-repeat center;
		background-size: cover;
	}
	
	.col2{
		background: url("../img/sponsership-10.png") no-repeat center;
		background-size: contain;
	}
	
}
.copyright{
	background: #292E31;
	color: #929292;
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
	.container>div{
		width:48%;
		margin: 0px 1%;
		float: left;
	}
}
/*=============End Footer==============*/
