
/* Global */
$mainColor: #03805E;
$secondColor:#B4264E;
$bgColor:#f7f7f7;
@font-face {
    font-family: hacen;
    src: url('../fonts/Hacen Tunisia Lt.ttf');
}
body{
	// height : 4000px;
	font-family: hacen;
   font-weight: normal; 
   font-style: normal; 
}
/*=============Start Our Framework ==============*/
.overlay{
	position : absolute;
	width : 100%;
	height : 100%;
	top : 0;
	left : 0;
	
}
.scrolled{
	background: rgba(53,53,53,.8) !important;
}
.display-center{
	justify-content: center;
	align-items: center;
	display: flex;
}
section{
	padding: 80px 0px;
	.sec-title{
		font-size: 52px;
		margin-bottom: 35px;
	}
	.sec-desc{
		font-size: 18px;
		line-height: 1.55;
		color: #333;
		font-size: 400;
		margin-bottom: 45px;
		
	}
}
/*=============End Our Framework ==============*/

/*=============End Our Framework ==============*/
.navbar{
	background: rgba(53,53,53,.27);
	// direction: ltr;
	.navbar-toggler{
		border: 1px solid #FFF;

		.fa-bars{
			color: #FFF;
		}
		.navbar-toggler-icon {
			// background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
		}
	}
	.navbar-collapse{
		justify-content: flex-end;
		
	}
	.nav-item{
		margin: 5px 0px;
		margin-left: 5px;
		.nav-link{
			color: #f7f7f7;
			padding: 0 10px;
			font-weight: bold;
			transition: all .3s ease-in-out;
		}
		&.active,
		&:hover{
			.nav-link{
				color: #000;
			}
		}
		&:last-of-type{
			.nav-link{
				border: 0;
			}
		}
	}
	.social{
		ul{
			margin: 0 10px;
			.social-item{
				display: inline-block;
				margin: 0px 5px;
				.fa{
					color: #f7f7f7;
					border: 2px solid #f7f7f7;
					width: 35px;
					height: 35px;
					border-radius: 50%;
					text-align: center;
					line-height: 30px;
				}
			}
		}
		
	}
	
}
@media(max-width : 992px){
	.navbar{
		.navbar-list{
			flex-direction: column;
			.navbar-nav{
				width: 100%;
				margin-bottom: 20px;
				.nav-item{
					text-align: center;
					.nav-link{
						border: 0;
						// border-bottom: 2px solid #f7f7f7;
					}
				}
			}

			.social{
				text-align: center;
			}
			
		}
	}
}
/*=============End Our Framework ==============*/

/*=============Start Header ==============*/
header{
	background: url("../img/homeBG.png") no-repeat center;
	color: #f3f3f3;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	position: relative;
	.container{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.company-info{
			position: absolute;
			right: 50%;
			.company-logo{
				margin: 20px auto;
				display: block;
			}
			.company-name{
				font-size: 4.5rem;
				font-weight: normal;
				position: relative;
				&::after{
					position: absolute;
					content: '';
					background: #f3f3f3;
					display: block;
					width: 300px;
					height: 3px;
					margin-top: -8px;
				}
			}
			.follow-us{
				background-color: rgba(85,86,88,.64);
				padding: 5px 15px;
				border-radius: 20px;
				font-size: 1.1rem;
			}
			.company-slogan li{
				font-size: 1.5rem;
    			font-weight: 400;
			}
			.social{
				margin: 20px 0px;
				.social-item{
					display: inline-block;
					margin: 0px 5px;
					.fa{
						color: #f7f7f7;
						border: 2px solid #f7f7f7;
						width: 35px;
						height: 35px;
						border-radius: 50%;
						text-align: center;
						line-height: 30px;
						cursor: pointer;
					}
				}
			}
		}
	}	
	.logo{
		width: 200px;
		height: 200px;
		margin-bottom: 30px;
	}
}
.social{
	margin: 20px 0px;
	.social-item{
		display: inline-block;
		margin: 0px 5px;
		.fa{
			color: #f7f7f7;
			border: 2px solid #f7f7f7;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
		}
	}
}



/*=============End Header==============*/

/*=============Start About Section==============*/
.about{
	.stats-row {
		margin-top: 65px;
		.stats-col{
			margin-bottom: 25px;
		}
	}
	.circle{
		display: inline-block;
		width: 160px;
		height: 160px;
		font-weight: 500;
		color: #666;
		border: 6px solid #03805E;
		border-radius: 50%;
		padding: 55px 25px 0 25px;
		position: relative;
		.stat-no{
			color: #fff;
			width: 70px;
			height: 70px;
			line-height: 70px;
			top: -25px;
			right: -15px;
			font-size: 18px;
			background-color: #B4264E;
			position: absolute;
			border-radius: 50%;
			font-weight: 700;
		}
	}
}
/*=============End About Section==============*/

/*=============Start Services Section==============*/
.services{
	background: $bgColor;
	.ser-row{
		margin-top: 35px;
		.service{
			min-height: 100px;
			display: flex;
			align-items: center;
			overflow: hidden;
			img{
				margin-left: 20px;
			}
			h3{
				color: #353c3e;
				font-weight: 400;
				font-size: 18px;
			}
			p{
				width: 80%;
			}
		}
	}
	
	
}
/*=============End Services Section==============*/

/*=============ÙStart Developing Process Section==============*/
.develop{
	.row{
		position: relative;
	}
	.display-center{
		flex-direction: column;
	}
	hr{
		border: 2px solid #ccc;
		width: 85%;
		position: absolute;
		top: 2%;
		right: 7%;
	}
	.step-num,i{
		display: block;
		background: #ccc;
		border-radius: 50%;
		width: 46px;
		height: 46px;
		line-height: 46px;
	}
	i{
		background: #729347;
		color: #FFF;
	}
}
/*=============End Developing Process Section==============*/

/*=============Start Our Clients Section==============*/
.clients{
	background: #729347;
	color: #f7f7f7;
	.black{
		color:#000;
	}
	.sec-desc{
		color: #f7f7f7;
		margin-bottom: 55px;
	}
	.owl-carousel{
		overflow: hidden;
		.owl-item img {
			display: inline-block;
			max-width: 279px;
		}
		.owl-nav{
			position: absolute;
			top: 50%;
			margin-top: -20px;
			width: 95%;
		}
		.owl-nav [class*=owl-] {
			color: #FFF;
			font-size: 30px;
			margin: 5px;
			padding: 4px 7px;
			background: none;
			display: inline-block;
			cursor: pointer;
			position: relative;	
		}
		.owl-next{			
			right: 47%;
		}
		.owl-prev{
			left: 44%;
		}
	}
}
/*=============End Our Clients Section==============*/

/*============= Start Contact Section==============*/
.contact{
	background: #1C1C1C;
	color: $bgColor;
	.sec-desc{
		color: $bgColor;
	}
	form{
		width: 80%;
		margin: auto;
		.textarea-container{
			justify-content: flex-end;
    		display: flex;
		}
		input,
		textarea,
		select,
		select option{
			display: block;
			width: 100%;
			margin : 10px 0px;
			padding: 8px 15px;
			border: 1px solid #f3f3f3;
			border-radius: 5px;
			background: transparent;
			color: #757575;
			
		}
		textarea{
			height: 195px;
		}
		.form-submit{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			.btn{
				background: #89AE4D;
				color: #FFF;
				height: 40px;
				margin-right: 15px;
			
			}
			.social {
				margin: 20px 0px 20px 15px;
			}
		}
		
	}
}
/*=============End Contact Section==============*/

/*=============Start Footer==============*/
footer{
	background: #3C4648;
	color: #FFF;
	padding: 30px 0px;
	span{
		background: #282D30;
		padding: 3px 50px;
		margin: 30px 0px;
		display: block;
		width: 20%;
	}
	ul{
		li{
			margin-bottom: 10px;
			.fa{
				margin-left: 10px;
				border: 1px solid ;
				border-radius: 50%;
				width : 30px;
				height: 30px;
				text-align: center;
				line-height: 30px;
			}
		}
	}
}
.copyright{
	background: #292E31;
	color: #929292;
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
	.container>div{
		width:48%;
		margin: 0px 1%;
		float: left;
	}
}
/*=============End Footer==============*/
